[*]

guidelines = 120

[*.cs]

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = none

# IDE0090: 'new' expression can be simplified
dotnet_diagnostic.IDE0090.severity = none

[*.{cs,vb,json,csproj,md}]

tab_width = 2
indent_size = 2
